<div class="card" style="border-color:darkblue;">
  <img class="card-img-top" src="holder.js/100x180/" alt="">
  <div class="card-body">
    <table class="table table-borderd table-hover">
      <thead>
        <tr style="text-align: center">
          <th>Content</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align: center">
          <td>{{message.content}}</td>
          <td>
              <button class="btn btn-success" (click)="onEdit()"><i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp;Edit</button>
              <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 
</div>